# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Casestudy3-web\product-spring-thymeleaf\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
